<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allen.androideffect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".listview.ListViewMenu" />
        <activity android:name=".listview.circlelist.CircleListShow" />
        <activity android:name=".listview.swipelist.SwipeListActivity" />
        <activity android:name=".listview.layoutanimation.ListLayoutAnimation" />
        <activity android:name=".cyclerview.RecyclerViewMenu" />
        <activity android:name=".cyclerview.materializeyourapp.GridLayoutAnimiation" />
        <activity android:name=".cyclerview.itemanimation.ItemAnimationActivity" />
        <activity android:name=".cyclerview.adapteranimation.AnimationAdaperActivity" />
        <activity android:name=".cyclerview.refresh.SwipeRefreshLayoutActivity" />
        <activity
            android:theme="@style/Theme.AppCompat"
            android:name=".cyclerview.design.snackbar.SnackbarActivity"
            android:label="@string/title_activity_snackbar"></activity>
        <activity android:name=".cyclerview.design.DesignMenu"></activity>
    </application>

</manifest>